<div class="bg-cover bg-center h-screen" style="background-image: url('https://eva.sudamericano.ec/pluginfile.php/1/theme_moove/sliderimage1/1695820690/1200X600-FACHADA.png');">
    <div class="bg-gray-900 bg-opacity-50 flex items-center justify-center h-full">
        <div class="text-center">
            <p class="text-white text-5xl font-bold mb-2">UNIDAD EDUCATIVA
                SUDAMERICANO</p>
            <p class="text-white text-xl">La Institución persigue consolidar una formación integral de niños, niñas y adolescentes de los diferentes sectores sociales y económicos, orientándolos a través de sus programas académicos con actualidad tecnológica, artes y deportes.</p>
        </div>
    </div>
    <div class="absolute bottom-0 left-0 right-0 flex justify-center mb-8">
        <button class="px-6 py-2 bg-gray-400 text-white rounded hover:bg-blue-400 mr-4 transition duration-300 ease-in-out transform hover:scale-105 text-lg">HORARIO DE CLASES</button>
        <button class="px-6 py-2 bg-gray-400 text-white rounded hover:bg-blue-400 transition duration-300 ease-in-out transform hover:scale-105 text-lg">NOTICIAS</button>
    </div>
</div>